<h2>Import necesary modules for analysis

In [1]:
import pandas as pd
import numpy as np
import requests
import geocoder
from os import environ

<h2>Gets the website and does a quick print to confirm process completed correctly

In [2]:
url="https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=946126446"

wiki = requests.get(url)

tables = pd.read_html(wiki.text)
print(len(tables))
tables

3

[    Postcode           Borough          Neighbourhood
 0        M1A      Not assigned           Not assigned
 1        M2A      Not assigned           Not assigned
 2        M3A        North York              Parkwoods
 3        M4A        North York       Victoria Village
 4        M5A  Downtown Toronto           Harbourfront
 ..       ...               ...                    ...
 282      M8Z         Etobicoke              Mimico NW
 283      M8Z         Etobicoke     The Queensway West
 284      M8Z         Etobicoke  Royal York South West
 285      M8Z         Etobicoke         South of Bloor
 286      M9Z      Not assigned           Not assigned

 [287 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

<h2>Reads the table into a dataframe

In [3]:
df_tor=pd.DataFrame(tables[0])
df_tor

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

 <h2>Only process the cells that have an assigned borough. Ignore cells with a borough that is "Not assigned".

In [4]:
df_tor.drop(df_tor[df_tor['Borough']=="Not assigned"].index,axis=0, inplace=True)
df_tor.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

<h2> More than one neighborhood can exist in one postal code area. These two rows will be combined into one row with the neighborhoods separated with a comma.

In [5]:
df_tor1=df_tor.groupby("Postcode").agg(lambda x:','.join(set(x)))
df_tor1.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Rouge Hill,Port Union,Highland Creek
M1E       Scarborough       Morningside,West Hill,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

<h2> If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough.

In [6]:
df_tor1.loc[df_tor1['Neighbourhood']=="Not assigned",'Neighbourhood']=df_tor1.loc[df_tor1['Neighbourhood']=="Not assigned",'Borough']
df_tor1.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Rouge Hill,Port Union,Highland Creek
M1E       Scarborough       Morningside,West Hill,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

<h2>Resets the index

In [7]:
df_tor1 = df_tor1.reset_index()
df_tor1.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Malvern,Rouge
1      M1C  Scarborough  Rouge Hill,Port Union,Highland Creek
2      M1E  Scarborough       Morningside,West Hill,Guildwood
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

<h2>Returns the shape of the table

In [8]:
df_tor1.shape

(103, 3)

<h2><b>Part 2

<h2>Adds the Latitude and Longitude columns

In [9]:
df_tor1['Latitude'] = ""
df_tor1['Longitude'] = ""
df_tor1.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",,
1,M1C,Scarborough,"Rouge Hill,Port Union,Highland Creek",,
2,M1E,Scarborough,"Morningside,West Hill,Guildwood",,
3,M1G,Scarborough,Woburn,,
4,M1H,Scarborough,Cedarbrae,,

<h2>Retrieves Google API key from environment variable

In [10]:
google_api = environ.get("googleapikey")

<h2>Uses the Google API to populate the dataframe with the latitude and longitude of the postal codes.

In [11]:
for i, postal_code in enumerate(df_tor1['Postcode']):
    # initialize your variable to None
    lat_lng_coords = None
    
    print(postal_code)
    
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code),key=google_api)
        print(g)
        print(g.latlng)
        lat_lng_coords = g.latlng        
    
    df_tor1['Latitude'][i] = lat_lng_coords[0]
    df_tor1['Longitude'][i] = lat_lng_coords[1]
    
df_tor1.head()

M1B
<[OK] Google - Geocode [Scarborough, ON M1B, Canada]>
[43.8066863, -79.1943534]
M1C
<[OK] Google - Geocode [Scarborough, ON M1C, Canada]>
[43.78453510000001, -79.1604971]
M1E
<[OK] Google - Geocode [Scarborough, ON M1E, Canada]>
[43.7635726, -79.1887115]
M1G
<[OK] Google - Geocode [Scarborough, ON M1G, Canada]>
[43.7709921, -79.2169174]
M1H
<[OK] Google - Geocode [Scarborough, ON M1H, Canada]>
[43.773136, -79.23947609999999]
M1J
<[OK] Google - Geocode [Scarborough, ON M1J, Canada]>
[43.7447342, -79.23947609999999]
M1K
<[OK] Google - Geocode [Scarborough, ON M1K, Canada]>
[43.7279292, -79.2620294]
M1L
<[OK] Google - Geocode [North York, ON M1L, Canada]>
[43.7111117, -79.2845772]
M1M
<[OK] Google - Geocode [Scarborough, ON M1M, Canada]>
[43.716316, -79.23947609999999]
M1N
<[OK] Google - Geocode [Scarborough, ON M1N, Canada]>
[43.692657, -79.2648481]
M1P
<[OK] Google - Geocode [Scarborough, ON M1P, Canada]>
[43.7574096, -79.273304]
M1R
<[OK] Google - Geocode [North York, ON M1R, Canada]>
[43.7500715, -79.2958491]
M1S
<[OK] Google - Geocode [Scarborough, ON M1S, Canada]>
[43.7942003, -79.2620294]
M1T
<[OK] Google - Geocode [Scarborough, ON M1T, Canada]>
[43.7816375, -79.3043021]
M1V
<[OK] Google - Geocode [Scarborough, ON M1V, Canada]>
[43.8152522, -79.2845772]
M1W
<[OK] Google - Geocode [Scarborough, ON M1W, Canada]>
[43.7995252, -79.3183887]
M1X
<[OK] Google - Geocode [Scarborough, ON M1X, Canada]>
[43.8361247, -79.20563609999999]
M2H
<[OK] Google - Geocode [North York, ON M2H, Canada]>
[43.8037622, -79.3634517]
M2J
<[OK] Google - Geocode [North York, ON M2J, Canada]>
[43.7785175, -79.3465557]
M2K
<[OK] Google - Geocode [North York, ON M2K, Canada]>
[43.7869473, -79.385975]
M2L
<[OK] Google - Geocode [North York, ON M2L, Canada]>
[43.7574902, -79.37471409999999]
M2M
<[OK] Google - Geocode [North York, ON M2M, Canada]>
[43.789053, -79.40849279999999]
M2N
<[OK] Google - Geocode [North York, ON M2N, Canada]>
[43.7701199, -79.40849279999999]
M2P
<[OK] Google - Geocode [North York, ON M2P, Canada]>
[43.7527583, -79.40004929999999]
M2R
<[OK] Google - Geocode [North York, ON M2R, Canada]>
[43.7827364, -79.4422593]
M3A
<[OK] Google - Geocode [North York, ON M3A, Canada]>
[43.7532586, -79.3296565]
M3B
<[OK] Google - Geocode [North York, ON M3B, Canada]>
[43.7459058, -79.352188]
M3C
<[OK] Google - Geocode [Toronto, ON M3C, Canada]>
[43.7258997, -79.34092299999999]
M3H
<[OK] Google - Geocode [North York, ON M3H, Canada]>
[43.7543283, -79.4422593]
M3J
<[OK] Google - Geocode [North York, ON M3J, Canada]>
[43.7679803, -79.4872619]
M3K
<[OK] Google - Geocode [North York, ON M3K, Canada]>
[43.7374732, -79.4647633]
M3L
<[OK] Google - Geocode [North York, ON M3L, Canada]>
[43.7390146, -79.5069436]
M3M
<[OK] Google - Geocode [North York, ON M3M, Canada]>
[43.7284964, -79.4956974]
M3N
<[OK] Google - Geocode [North York, ON M3N, Canada]>
[43.7616313, -79.5209994]
M4A
<[OK] Google - Geocode [North York, ON M4A, Canada]>
[43.72588229999999, -79.3155716]
M4B
<[OK] Google - Geocode [Toronto, ON M4B, Canada]>
[43.7063972, -79.30993699999999]
M4C
<[OK] Google - Geocode [Toronto, ON M4C, Canada]>
[43.6953439, -79.3183887]
M4E
<[OK] Google - Geocode [Toronto, ON M4E, Canada]>
[43.6763574, -79.2930312]
M4G
<[OK] Google - Geocode [North York, ON M4G, Canada]>
[43.7090604, -79.3634517]
M4H
<[OK] Google - Geocode [Toronto, ON M4H, Canada]>
[43.7053689, -79.3493719]
M4J
<[OK] Google - Geocode [Toronto, ON M4J, Canada]>
[43.685347, -79.3381065]
M4K
<[OK] Google - Geocode [Toronto, ON M4K, Canada]>
[43.6795571, -79.352188]
M4L
<[OK] Google - Geocode [Toronto, ON M4L, Canada]>
[43.6689985, -79.3155716]
M4M
<[OK] Google - Geocode [Toronto, ON M4M, Canada]>
[43.6595255, -79.34092299999999]
M4N
<[OK] Google - Geocode [Toronto, ON M4N, Canada]>
[43.7280205, -79.3887901]
M4P
<[OK] Google - Geocode [North York, ON M4P, Canada]>
[43.7127511, -79.3901975]
M4R
<[OK] Google - Geocode [North York, ON M4R, Canada]>
[43.7153834, -79.4056784]
M4S
<[OK] Google - Geocode [Toronto, ON M4S, Canada]>
[43.7043244, -79.3887901]
M4T
<[OK] Google - Geocode [Toronto, ON M4T, Canada]>
[43.6895743, -79.3831599]
M4V
<[OK] Google - Geocode [Toronto, ON M4V, Canada]>
[43.6864123, -79.40004929999999]
M4W
<[OK] Google - Geocode [Toronto, ON M4W, Canada]>
[43.6795626, -79.3775294]
M4X
<[OK] Google - Geocode [Toronto, ON M4X, Canada]>
[43.667967, -79.3676753]
M4Y
<[OK] Google - Geocode [Toronto, ON M4Y, Canada]>
[43.6658599, -79.3831599]
M5A
<[OK] Google - Geocode [Toronto, ON M5A, Canada]>
[43.6542599, -79.36063589999999]
M5B
<[OK] Google - Geocode [Toronto, ON M5B, Canada]>
[43.6571618, -79.3789371]
M5C
<[OK] Google - Geocode [Toronto, ON M5C, Canada]>
[43.6514939, -79.3754179]
M5E
<[OK] Google - Geocode [Toronto, ON M5E, Canada]>
[43.6447708, -79.37330639999999]
M5G
<[OK] Google - Geocode [Toronto, ON M5G, Canada]>
[43.6579524, -79.3873826]
M5H
<[OK] Google - Geocode [Toronto, ON M5H, Canada]>
[43.65057119999999, -79.3845675]
M5J
<[OK] Google - Geocode [Toronto, ON M5J, Canada]>
[43.6408157, -79.3817523]
M5K
<[OK] Google - Geocode [Toronto, ON M5K, Canada]>
[43.6471768, -79.3815764]
M5L
<[OK] Google - Geocode [Toronto, ON M5L, Canada]>
[43.6481985, -79.3798169]
M5M
<[OK] Google - Geocode [Toronto, ON M5M, Canada]>
[43.7332825, -79.4197497]
M5N
<[OK] Google - Geocode [Toronto, ON M5N, Canada]>
[43.7116948, -79.4169356]
M5P
<[OK] Google - Geocode [York, ON M5P, Canada]>
[43.6969476, -79.4113072]
M5R
<[OK] Google - Geocode [Toronto, ON M5R, Canada]>
[43.6727097, -79.4056784]
M5S
<[OK] Google - Geocode [Toronto, ON M5S, Canada]>
[43.6626956, -79.40004929999999]
M5T
<[OK] Google - Geocode [Toronto, ON M5T, Canada]>
[43.6532057, -79.40004929999999]
M5V
<[OK] Google - Geocode [Toronto, ON M5V, Canada]>
[43.6289467, -79.3944199]
M5W
<[OK] Google - Geocode [Toronto, ON M5W, Canada]>
[43.6464352, -79.37484599999999]
M5X
<[OK] Google - Geocode [Toronto, ON M5X, Canada]>
[43.6484292, -79.3822802]
M6A
<[OK] Google - Geocode [North York, ON M6A, Canada]>
[43.718518, -79.4647633]
M6B
<[OK] Google - Geocode [Toronto, ON M6B, Canada]>
[43.709577, -79.4450726]
M6C
<[OK] Google - Geocode [Toronto, ON M6C, Canada]>
[43.6937813, -79.4281914]
M6E
<[OK] Google - Geocode [Toronto, ON M6E, Canada]>
[43.68902560000001, -79.453512]
M6G
<[OK] Google - Geocode [Toronto, ON M6G, Canada]>
[43.669542, -79.4225637]
M6H
<[OK] Google - Geocode [Toronto, ON M6H, Canada]>
[43.6690051, -79.4422593]
M6J
<[OK] Google - Geocode [Toronto, ON M6J, Canada]>
[43.6479267, -79.4197497]
M6K
<[OK] Google - Geocode [Toronto, ON M6K, Canada]>
[43.6368472, -79.4281914]
M6L
<[OK] Google - Geocode [North York, ON M6L, Canada]>
[43.7137562, -79.49007379999999]
M6M
<[OK] Google - Geocode [Toronto, ON M6M, Canada]>
[43.6911158, -79.47601329999999]
M6N
<[OK] Google - Geocode [Toronto, ON M6N, Canada]>
[43.6731853, -79.4872619]
M6P
<[OK] Google - Geocode [Toronto, ON M6P, Canada]>
[43.6616083, -79.4647633]
M6R
<[OK] Google - Geocode [Toronto, ON M6R, Canada]>
[43.6489597, -79.45632499999999]
M6S
<[OK] Google - Geocode [Toronto, ON M6S, Canada]>
[43.6515706, -79.4844499]
M7A
<[OK] Google - Geocode [North York, ON M7A, Canada]>
[43.6623015, -79.3894938]
M7R
<[OK] Google - Geocode [Mississauga, ON M7R, Canada]>
[43.6369656, -79.615819]
M7Y
<[OK] Google - Geocode [Toronto, ON M7Y, Canada]>
[43.6627439, -79.321558]
M8V
<[OK] Google - Geocode [Etobicoke, ON M8V, Canada]>
[43.6056466, -79.5013207]
M8W
<[OK] Google - Geocode [Etobicoke, ON M8W, Canada]>
[43.6024137, -79.5434841]
M8X
<[OK] Google - Geocode [Etobicoke, ON M8X, Canada]>
[43.6536536, -79.5069436]
M8Y
<[OK] Google - Geocode [Etobicoke, ON M8Y, Canada]>
[43.6362579, -79.49850909999999]
M8Z
<[OK] Google - Geocode [Etobicoke, ON M8Z, Canada]>
[43.6288408, -79.5209994]
M9A
<[OK] Google - Geocode [Etobicoke, ON M9A, Canada]>
[43.6678556, -79.5322424]
M9B
<[OK] Google - Geocode [Etobicoke, ON M9B, Canada]>
[43.65094320000001, -79.5547244]
M9C
<[OK] Google - Geocode [Etobicoke, ON M9C, Canada]>
[43.6435152, -79.5772008]
M9L
<[OK] Google - Geocode [North York, ON M9L, Canada]>
[43.7563033, -79.56596329999999]
M9M
<[OK] Google - Geocode [North York, ON M9M, Canada]>
[43.7247659, -79.5322424]
M9N
<[OK] Google - Geocode [Toronto, ON M9N, Canada]>
[43.706876, -79.5181884]
M9P
<[OK] Google - Geocode [Etobicoke, ON M9P, Canada]>
[43.696319, -79.5322424]
M9R
<[OK] Google - Geocode [Etobicoke, ON M9R, Canada]>
[43.6889054, -79.5547244]
M9V
<[OK] Google - Geocode [Etobicoke, ON M9V, Canada]>
[43.7394164, -79.58843689999999]
M9W
<[OK] Google - Geocode [Etobicoke, ON M9W, Canada]>
[43.7067483, -79.59405439999999]

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.8067,-79.1944
1,M1C,Scarborough,"Rouge Hill,Port Union,Highland Creek",43.7845,-79.1605
2,M1E,Scarborough,"Morningside,West Hill,Guildwood",43.7636,-79.1887
3,M1G,Scarborough,Woburn,43.771,-79.2169
4,M1H,Scarborough,Cedarbrae,43.7731,-79.2395

<h2>Final display of the dataframe

In [12]:
df_tor1.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.8067,-79.1944
1,M1C,Scarborough,"Rouge Hill,Port Union,Highland Creek",43.7845,-79.1605
2,M1E,Scarborough,"Morningside,West Hill,Guildwood",43.7636,-79.1887
3,M1G,Scarborough,Woburn,43.771,-79.2169
4,M1H,Scarborough,Cedarbrae,43.7731,-79.2395